mixin winners__carusel(content, params)
	.winners__swiper
		.swiper-wrapper
			.swiper-slide
				.winners__content
					.winners__body
						+button({tag:"a", text:"Больше историй&nbsp;в соцсетях", attr:{href:"https://www.stoloto.ru/ruslotto/game/?int=right", target:"_blank"}}).winners__button
						.winners__pers
							.winners__pers-note
								p.winners__note-text!="&laquo;Забыли про билеты на&nbsp;два месяца&raquo;"
								.winners__label
									input(type="checkbox" id="noteChek")
									label(for="noteChek")
										include arrow.svg
										h3.winners__note-history!="История победителя"
										p.winners__history!="Тут будет исторя победителя"
							.winners__images
								.winners__pers-bg
									include smallBg.svg
								.winners__pers-image
									img(src="images/winners/winner-1.png")
							.winners__pers-info
								span.winners__pers-win
									include winner.svg
								h2.winners__pers-title!="Марина \nСинцова<br>"
								span!="Выигрыш"
								h3.winners__pers-prize!="загородный дом"
							+button({tag:"a", text:"Стать следующим", attr:{href:"https://www.stoloto.ru/ruslotto/game/?int=right", target:"_blank"}}).winners__pers-button

			//- each item in content.item 
				// .swiper-slide


- var winnersContent = [{}];

mixin winners(content,params)
	section.winners(id="winners")
		.winners__bg
				include bg.svg
		+winners__carusel
		//- .winners__carusel
				h1!="Carusel"
			
